In [10]:
import pandas as pd

train = pd.read_csv(r'C:\Users\eyomi\OneDrive\Pictures\VScode\Deep Learning\BF\train_black_friday.csv')
test = pd.read_csv(r'C:\Users\eyomi\OneDrive\Pictures\VScode\Deep Learning\BF\test_black_friday.csv')
train

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,M,51-55,13,B,1,1,20,NaN,NaN,368
550064,1006035,P00375436,F,26-35,1,C,3,0,20,NaN,NaN,371
550065,1006036,P00375436,F,26-35,15,B,4+,1,20,NaN,NaN,137
550066,1006038,P00375436,F,55+,1,C,2,0,20,NaN,NaN,365
550067,1006039,P00371644,F,46-50,0,B,4+,1,20,NaN,NaN,490

In [11]:
prodID = train['Product_ID']
prodID = prodID.astype('category').cat.codes # convert to integers (similar to label encoder)
train['Product_ID'] = prodID

prodID = test['Product_ID']
prodID = prodID.astype('category').cat.codes # convert to integers (similar to label encoder)
test['Product_ID'] = prodID

prodID.astype('category').cat.codes

0         1144
1          994
2         2672
3         1299
4          519
          ...
233594    1049
233595    2345
233596     303
233597    1105
233598    2921
Length: 233599, dtype: int16

In [12]:
data = pd.concat([train, test])  # join 2 dataframes together naturally (concatonate)
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,672,F,0-17,10,A,2,0,3,NaN,NaN,8370.0
1,1000001,2376,F,0-17,10,A,2,0,1,6.0,14.0,15200.0
2,1000001,852,F,0-17,10,A,2,0,12,NaN,NaN,1422.0
3,1000001,828,F,0-17,10,A,2,0,12,14.0,NaN,1057.0
4,1000002,2734,M,55+,16,C,4+,0,8,NaN,NaN,7969.0
...,...,...,...,...,...,...,...,...,...,...,...,...
233594,1006036,1049,F,26-35,15,B,4+,1,8,NaN,NaN,NaN
233595,1006036,2345,F,26-35,15,B,4+,1,5,8.0,NaN,NaN
233596,1006036,303,F,26-35,15,B,4+,1,1,5.0,12.0,NaN
233597,1006037,1105,F,46-50,1,C,4+,0,10,16.0,NaN,NaN
233598,1006039,2921,F,46-50,0,B,4+,1,4,5.0,NaN,NaN

In [13]:
categorical = ['Gender', 'Age', 'City_Category', 'Stay_In_Current_City_Years']

for i in categorical:
    data[i] = data[i].astype('category').cat.codes # converting all categoricals to ints

data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,672,0,0,10,0,2,0,3,NaN,NaN,8370.0
1,1000001,2376,0,0,10,0,2,0,1,6.0,14.0,15200.0
2,1000001,852,0,0,10,0,2,0,12,NaN,NaN,1422.0
3,1000001,828,0,0,10,0,2,0,12,14.0,NaN,1057.0
4,1000002,2734,1,6,16,2,4,0,8,NaN,NaN,7969.0
...,...,...,...,...,...,...,...,...,...,...,...,...
233594,1006036,1049,0,2,15,1,4,1,8,NaN,NaN,NaN
233595,1006036,2345,0,2,15,1,4,1,5,8.0,NaN,NaN
233596,1006036,303,0,2,15,1,4,1,1,5.0,12.0,NaN
233597,1006037,1105,0,4,1,2,4,0,10,16.0,NaN,NaN
233598,1006039,2921,0,4,0,1,4,1,4,5.0,NaN,NaN

In [14]:
mean = data['Product_Category_2'].mean()
data['Product_Category_2'] = data['Product_Category_2'].fillna(mean)

mean = data['Product_Category_3'].mean()
data['Product_Category_3'] = data['Product_Category_3'].fillna(mean)

mean = data['Purchase'].mean()
data['Purchase'] = data['Purchase'].fillna(mean)

# removing all missing values

data.isna().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

In [ ]:
features = data.drop(columns=['Purchase', 'User_ID'])
target = data['Purchase']
features

,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,672,0,0,10,0,2,0,3,9.844506,12.668605
1,2376,0,0,10,0,2,0,1,6.000000,14.000000
2,852,0,0,10,0,2,0,12,9.844506,12.668605
3,828,0,0,10,0,2,0,12,14.000000,12.668605
4,2734,1,6,16,2,4,0,8,9.844506,12.668605
...,...,...,...,...,...,...,...,...,...,...
233594,1049,0,2,15,1,4,1,8,9.844506,12.668605
233595,2345,0,2,15,1,4,1,5,8.000000,12.668605
233596,303,0,2,15,1,4,1,1,5.000000,12.000000
233597,1105,0,4,1,2,4,0,10,16.000000,12.668605
233598,2921,0,4,0,1,4,1,4,5.000000,12.668605

In [16]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
features = scaler.fit_transform(features) # normalising

In [23]:
from sklearn.model_selection import train_test_split

trainFeatures, testFeatures, trainTarget, testTarget = train_test_split(features, target, train_size=0.8)
print(trainTarget)

188382     3901.000000
219806     9263.968713
202946    15297.000000
188931     9263.968713
261333     7985.000000
              ...
82968     15877.000000
95033      9263.968713
416615     7082.000000
475377     5379.000000
144400    20329.000000
Name: Purchase, Length: 626933, dtype: float64

In [31]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor()
regressor.fit(trainFeatures, trainTarget)

prediction = regressor.predict(testFeatures)
prediction

array([ 8226.22166667,  9263.96871296, 12523.37      , ...,
       12175.67992857,  6337.07      ,  6765.84      ])

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

error = mean_squared_error(prediction, testTarget)
error

mean_absolute_error(prediction, testTarget)

(783667, 10)

In [29]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras import Input

model = Sequential([
    Input(shape=(10, )),
    Dense(256, activation='relu'),
    Dense(128, activation='relu'),
    Dense(64, activation='relu'),
    Dense(1) # no classification
])

model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_squared_error'])
model.fit(trainFeatures, trainTarget, epochs=10, validation_data=(testFeatures, testTarget), verbose=1)

Epoch 1/10
19592/19592 ━━━━━━━━━━━━━━━━━━━━ 35s 2ms/step - loss: 14207250.0000 - mean_squared_error: 14207250.0000 - val_loss: 12151305.0000 - val_mean_squared_error: 12151305.0000
Epoch 2/10
19592/19592 ━━━━━━━━━━━━━━━━━━━━ 33s 2ms/step - loss: 11788900.0000 - mean_squared_error: 11788900.0000 - val_loss: 10988520.0000 - val_mean_squared_error: 10988520.0000
Epoch 3/10
19592/19592 ━━━━━━━━━━━━━━━━━━━━ 34s 2ms/step - loss: 10872919.0000 - mean_squared_error: 10872919.0000 - val_loss: 10511755.0000 - val_mean_squared_error: 10511755.0000
Epoch 4/10
19592/19592 ━━━━━━━━━━━━━━━━━━━━ 33s 2ms/step - loss: 10437730.0000 - mean_squared_error: 10437730.0000 - val_loss: 10080892.0000 - val_mean_squared_error: 10080892.0000
Epoch 5/10
19592/19592 ━━━━━━━━━━━━━━━━━━━━ 33s 2ms/step - loss: 10021649.0000 - mean_squared_error: 10021649.0000 - val_loss: 9863500.0000 - val_mean_squared_error: 9863500.0000
Epoch 6/10
19592/19592 ━━━━━━━━━━━━━━━━━━━━ 34s 2ms/step - loss: 9795256.0000 - mean_squared_error: 9795256.0000 - val_loss: 9672404.0000 - val_mean_squared_error: 9672404.0000
Epoch 7/10
19592/19592 ━━━━━━━━━━━━━━━━━━━━ 34s 2ms/step - loss: 9695270.0000 - mean_squared_error: 9695270.0000 - val_loss: 9589682.0000 - val_mean_squared_error: 9589682.0000
Epoch 8/10
19592/19592 ━━━━━━━━━━━━━━━━━━━━ 34s 2ms/step - loss: 9639886.0000 - mean_squared_error: 9639886.0000 - val_loss: 9534246.0000 - val_mean_squared_error: 9534246.0000
Epoch 9/10
19592/19592 ━━━━━━━━━━━━━━━━━━━━ 35s 2ms/step - loss: 9596168.0000 - mean_squared_error: 9596168.0000 - val_loss: 9476869.0000 - val_mean_squared_error: 9476869.0000
Epoch 10/10
19592/19592 ━━━━━━━━━━━━━━━━━━━━ 34s 2ms/step - loss: 9556168.0000 - mean_squared_error: 9556168.0000 - val_loss: 9488079.0000 - val_mean_squared_error: 9488079.0000

In [30]:
prediction = model.predict(testFeatures)

error = mean_absolute_error(prediction, testTarget)
print(error)

4898/4898 ━━━━━━━━━━━━━━━━━━━━ 4s 766us/step
2427.184153917681