In [32]:
import pandas as pd

train = pd.read_csv(r'C:\Users\eyomi\OneDrive\Pictures\VScode\Deep Learning\BF\train_black_friday.csv')
test = pd.read_csv(r'C:\Users\eyomi\OneDrive\Pictures\VScode\Deep Learning\BF\test_black_friday.csv')
train

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,M,51-55,13,B,1,1,20,NaN,NaN,368
550064,1006035,P00375436,F,26-35,1,C,3,0,20,NaN,NaN,371
550065,1006036,P00375436,F,26-35,15,B,4+,1,20,NaN,NaN,137
550066,1006038,P00375436,F,55+,1,C,2,0,20,NaN,NaN,365
550067,1006039,P00371644,F,46-50,0,B,4+,1,20,NaN,NaN,490

In [33]:
prodID = train['Product_ID']
prodID = prodID.astype('category').cat.codes # convert to integers (similar to label encoder)
train['Product_ID'] = prodID

prodID = test['Product_ID']
prodID = prodID.astype('category').cat.codes # convert to integers (similar to label encoder)
test['Product_ID'] = prodID

prodID.astype('category').cat.codes

0         1144
1          994
2         2672
3         1299
4          519
          ...
233594    1049
233595    2345
233596     303
233597    1105
233598    2921
Length: 233599, dtype: int16

In [34]:
data = pd.concat([train, test])  # join 2 dataframes together naturally (concatonate)
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,672,F,0-17,10,A,2,0,3,NaN,NaN,8370.0
1,1000001,2376,F,0-17,10,A,2,0,1,6.0,14.0,15200.0
2,1000001,852,F,0-17,10,A,2,0,12,NaN,NaN,1422.0
3,1000001,828,F,0-17,10,A,2,0,12,14.0,NaN,1057.0
4,1000002,2734,M,55+,16,C,4+,0,8,NaN,NaN,7969.0
...,...,...,...,...,...,...,...,...,...,...,...,...
233594,1006036,1049,F,26-35,15,B,4+,1,8,NaN,NaN,NaN
233595,1006036,2345,F,26-35,15,B,4+,1,5,8.0,NaN,NaN
233596,1006036,303,F,26-35,15,B,4+,1,1,5.0,12.0,NaN
233597,1006037,1105,F,46-50,1,C,4+,0,10,16.0,NaN,NaN
233598,1006039,2921,F,46-50,0,B,4+,1,4,5.0,NaN,NaN

In [35]:
categorical = ['Gender', 'Age', 'City_Category', 'Stay_In_Current_City_Years']

for i in categorical:
    data[i] = data[i].astype('category').cat.codes # converting all categoricals to ints

data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,672,0,0,10,0,2,0,3,NaN,NaN,8370.0
1,1000001,2376,0,0,10,0,2,0,1,6.0,14.0,15200.0
2,1000001,852,0,0,10,0,2,0,12,NaN,NaN,1422.0
3,1000001,828,0,0,10,0,2,0,12,14.0,NaN,1057.0
4,1000002,2734,1,6,16,2,4,0,8,NaN,NaN,7969.0
...,...,...,...,...,...,...,...,...,...,...,...,...
233594,1006036,1049,0,2,15,1,4,1,8,NaN,NaN,NaN
233595,1006036,2345,0,2,15,1,4,1,5,8.0,NaN,NaN
233596,1006036,303,0,2,15,1,4,1,1,5.0,12.0,NaN
233597,1006037,1105,0,4,1,2,4,0,10,16.0,NaN,NaN
233598,1006039,2921,0,4,0,1,4,1,4,5.0,NaN,NaN

In [36]:
mean = data['Product_Category_2'].mean()
data['Product_Category_2'] = data['Product_Category_2'].fillna(mean)

mean = data['Product_Category_3'].mean()
data['Product_Category_3'] = data['Product_Category_3'].fillna(mean)

mean = data['Purchase'].mean()
data['Purchase'] = data['Purchase'].fillna(mean)

# removing all missing values

data.isna().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

In [ ]:
features = data.drop(columns=['Purchase', 'User_ID'])
target = data['Purchase']
features

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
features = scaler.fit_transform(features) # normalising

In [44]:
from sklearn.model_selection import train_test_split

trainFeatures, testFeatures, trainTarget, testTarget = train_test_split(features, target, train_size=0.8)

In [48]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor()
regressor.fit(trainFeatures, trainTarget)

prediction = regressor.predict(testFeatures)
prediction

array([  814.48216667, 17843.64916667,  9263.96871296, ...,
        9246.66965157,  8513.81437426,  9290.99902583])

In [50]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

error = mean_squared_error(prediction, testTarget)
error

mean_absolute_error(prediction, testTarget)

1555.2704392567434

In [56]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras import Input

model = Sequential([
    Input(shape=(len(features), )),
    Dense(256, activation='relu'),
    Dense(128, activation='relu'),
    Dense(64, activation='relu'),
    Dense(1) # no classification
])

model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_squared_error'])
model.fit(trainFeatures, trainTarget, epochs=10, validation_data=(testFeatures, testTarget), verbose=1)

Epoch 1/10

ValueError: Exception encountered when calling Sequential.call().

Input 0 of layer "dense_12" is incompatible with the layer: expected axis -1 of input shape to have value 783667, but received input with shape (None, 10)

Arguments received by Sequential.call():
  • inputs=tf.Tensor(shape=(None, 10), dtype=float32)
  • training=True
  • mask=None
  • kwargs=<class 'inspect._empty'>